@import '../Fonts/Fonts.css';

* {
  box-sizing: border-box;
  font-family: 'Ubuntu';
} 

.nav{
  width: 50%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1.3px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  background: white;
  box-shadow: 3px 4px rgba(0,0,0,0.2);
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: all .4s;
  width: 100%;
  height: 100%;
  border: 1.3px solid rgba(0,0,0,0);
}

.link:hover ,.active{
  color: #2ECFC1;
  border-left: 1px solid rgba(0,0,0,0.3);
  border-right: 1.3px solid rgba(0,0,0,0.3);
}

.card{
  margin: auto;
  margin-top: 20px;
  width: 50%;  
  border: 1.3px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  background: white;
  box-shadow: 3px 4px rgba(0,0,0,0.2);
}

@media (max-width: 768px){
  .nav{
    width: 100%;
  }

  .card{
    width: 100%;
    margin-top: 10px;
  }
}